﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/BonusMaster.master" CodeBehind="Palindrome.aspx.cs" Inherits="BonusAssign.Palindrome" %>
 <asp:Content ContentPlaceHolderID="MainContent" runat="server">

     <h1> Palindrome Checker </h1>
      <label> Enter any word below to check if it is a palindrome </label> <br />
        <asp:TextBox id="palbox" runat="server"></asp:TextBox> <br />
       <asp:Button runat="server" ID="PalButton" OnClick="PalLoad" Text="Submit"/>

    <div runat="server" id="palresult"></div>
 </asp:Content>


