﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/BonusMaster.master" CodeBehind="PrimeNumber.aspx.cs" Inherits="BonusAssign.PrimeNumber" %>

  <asp:Content ContentPlaceHolderID="MainContent" runat="server">

        <h1> Prime Number Checker </h1>
            <label> Enter a number to check if it is prime: </label>
            <asp:TextBox runat="server" id="pnum"></asp:TextBox> <br />
            
            <asp:Button runat="server" id="pnumbutton" OnClick="Pnumload" Text="Submit"></asp:Button>
	        <div runat="server" id="pnprint"></div>
 </asp:Content>