﻿body {
    padding-top: 0;
    padding-left: 10px;
    font-family: Verdana, Geneva, sans-serif;
}

nav {
    float: right;
    display: inline;
    padding-right: 20px;
    padding-top: 0px;
}

#mainmenu li {
    display: inline;
    padding: 1em;
    font-size:0.75em;
    background-color:black;
    border-radius:10px;
}

#mainmenu li a{
    color:white;
    text-decoration:none;
}

#mainmenu li a:hover{
    color:#fbc403;
}

#form1{
    padding-top:20px;
}
